body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #5C4033, #C4A484);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Center Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Card */
#first {
    background: white;
    padding: 50px;
    width: 350px;
    border-radius: 25px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Heading */
h1 {
    color:#5b3e31;
    font-family: cursive;
    font-size: 45px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

/* Input Fields */
input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 25px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    transition: 0.3s ease;
}

/* Input Focus Effect */
input:focus {
    border-color:#5C4033;
    box-shadow: 0 0 8px rgba(231, 84, 128, 0.3);
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background:#5b3e31;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease;
}

/* Button Hover */
button:hover {
    background: #5b3e31;
    transform: scale(1.05);
}